.no-data-add-station {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.sort-icon.usa-icon {
  margin-left: 8px;
  margin-top: 4px !important;
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.columnHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 16px !important;
}

.evchart-link {
  color: #005a7c;
  cursor: pointer;
  text-decoration: underline;
}

.station-pagination-info {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#SummaryTableStations .pagination-info-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#SummaryTableStations .pagination-info-row {
  display: flex;
  align-items: center;
}

#SummaryTableStations .pagination-info-row .pagination-info-dropdown {
  align-items: center;
  display: flex;
}

#SummaryTableStations .pagination-info {
  margin-top: 16px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#SummaryTableStations .pagination-info-row-count {
  margin-right: 16px;
  padding-right: 16px;
  border-right: solid 1.5px #9d9d9d;
}

#SummaryTableStations .pagination-info-row-per-page {
  margin-right: 8px;
}

#stationsSelectItemsPerPage {
  border-radius: 5%;
  margin-top: 0 !important;
}

#SummaryTableStations .column-definitions-button {
  font-family: Montserrat-Regular;
  color: #005a7c;
  background-color: #fff;
  float: right;
}

span.usa-tag {
  color: #00a91c;
  font-family: Montserrat-Thin-Bold;
  font-size: 12px;
  outline: thin solid #00a91c;
  text-transform: none;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th.station_nickname {
  max-width: 180px;
}

td.station_id {
  max-width: 140px;
}

td.station_authorized {
  max-width: 200px;
}

td.station_ports, td.station_federally_funded {
  max-width: 100px;
}

#review-station-details-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.float-right {
  float: right;
}