version: 0.2
batch:
  fast-fail: false
env:
  shell: bash
phases:
  install:
    runtime-versions:
      nodejs: 18
  install:
    commands:
      - |
        npm install -g react-scripts --no-save 
        npm install -g typescript --no-save 
        npm install -g yarn --no-save

  pre_build:
    commands:
      - |
        git config --global credential.https://git-codecommit.us-east-1.amazonaws.com/v1/repos/evchartstorybook.UseHttpPath true
        git config --global credential.https://git-codecommit.us-east-1.amazonaws.com/v1/repos/evchartstorybook.helper "!aws codecommit credential-helper $@"

      - |
        cd frontend
        npm link typescript

  build:
    commands:
      - |
        # if [[ $ENVIRONMENT == "prod" ]]; then
        #   PUBLIC_URL=/
        # else
        #   PUBLIC_URL=/$ENVIRONMENT
        # fi

        npm run build:dev

  post_build:
    commands:
      - |
        case $ENVIRONMENT in
          "prod")
            TARGET_ACCOUNT_ID=888515010394
            ;;
          "test")
            TARGET_ACCOUNT_ID=030628784534
            ;;
          *)
            # dev account id
            TARGET_ACCOUNT_ID=414275662771
            ;;
        esac

        credentials=(`aws sts assume-role --role-arn arn:aws:iam::$TARGET_ACCOUNT_ID:role/ev-chart/s3/management-account-role \
          --role-session-name management-deploy --output text --query "Credentials.[AccessKeyId, SecretAccessKey, SessionToken]"`)

        export AWS_ACCESS_KEY_ID=${credentials[0]}
        export AWS_SECRET_ACCESS_KEY=${credentials[1]}
        export AWS_SESSION_TOKEN=${credentials[2]}

        aws s3 rm s3://ev-chart-static-$ENVIRONMENT/deploy/react --recursive
        aws s3 cp build s3://ev-chart-static-$ENVIRONMENT/deploy/react --recursive
