.vscode
.venv
.pytest_cache
__pycache__
**/__pycache__/
.coverage
.idea
**/.idea
**/node_modules
**/build
devops/
qatesting/

frontend/.env.dev
frontend/.env.local
frontend/.env.preprod
frontend/.env.prod
frontend/.env.qa
frontend/.env.test
