#DraftsTable .pagination-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#DraftsTable .pagination-info-row .pagination-info-dropdown {
  align-items: center;
  display: flex;
}

#DraftsTable .pagination-info {
  margin-top: 16px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#DraftsTable .module-details-table-info {
  justify-content: space-between;
}

#DraftsTable .pagination-info-row-count {
  margin-right: 16px;
  padding-right: 16px;
  border-right: solid 1.5px #9d9d9d;
}

#DraftsTable .pagination-info-row-per-page {
  margin-right: 8px;
}

#draftSelectItemsPerPage {
  border-radius: 5%;
  margin-top: 0 !important;
}

.sort-icon-drafts.usa-icon {
  margin-left: 8px;
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.column-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.no-data-add-draft {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.drafts-row .menu .menu-item .usa-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.drafts-row .menu {
  width: 160px;
}

.drafts-table {
  line-height: 24px;
}

.draft-table-header {
  line-height: 15px;
}

.usa-table--borderless .drafts-table-header th {
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 16px;
}

.upload-module-data-modal-link {
  cursor: pointer;
  text-decoration: underline;
  color: #005a7c;
}

.drafts-table th,
.drafts-table td {
  padding: 10px 15px;
}

tr.drafts-row {
  line-height: 20px;
}

.module-to-data-hyperlink {
  font-weight: bold;
  color: #005a7c;
  cursor: pointer;
  text-decoration: underline;
}

.column-definitions-button {
  font-family: Montserrat-Regular;
  color: #005a7c;
  background-color: #fff;
}

button.usa-button.column-definitions-button {
  float:right;
  margin-right: 0;
}

/* full table 800 */
th.draft-table-header.module_name {
  width: 160px;
}
th.draft-table-header.year {
  width: 45px;
}
th.draft-table-header.type {
  width: 100px;
}
th.draft-table-header.direct_recipient {
  width: 100px;
}
th.draft-table-header.uploaded_on {
  width: 90px;
}
th.draft-table-header.uploaded_by {
  width: 80px;
}
th.draft-table-header.upload_id {
  width: 80px;
}
th.actions {
  width: 150px;
}
