.splash-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.evchart-footer .evchart-logo {
  width: 160px;
  height: 61.59px;
}
