.station-submission-details__breadcrumb-link.usa-button--unstyled {
  font-family: Montserrat-Regular;
}
.station-submission-details__heading {
  margin-top: 1rem;
  margin-bottom: 0;
}
.station-submission-details__subheading {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.station-submission-details__description {
  margin-top: 0.5rem;
}
.station-submission-details__filters {
  margin-top: 1.5rem;
}
.station-submission-details__tabs {
  margin-top: 1.5rem;
}
.station-submission-details-tab-container {
  display: flex;
}

.base-Tab-root.station-submission-details-tab {
  padding-top: 0;
  padding-bottom: 0;
}
.station-submission-details-tab__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2.75rem;
}
.station-submission-details-tab__label--with-tooltip {
  flex-direction: row;
}
.info-outline-icon.usa-icon {
  height: 16px;
  width: 16px;
  cursor: pointer;
  fill: #adadad;
  margin-left: 4px;
}
.tab-subheading {
  font-size: 12px;
  line-height: 16px;
}
