.direct-recipient-heading {
  margin-top: 16px;
  margin-bottom: 10px;
}

.direct-recipient-subheading {
  margin-bottom: 25px;
}

.item-instructions {
  margin-top: 10px;
  margin-left: 40px;
  font-family: Montserrat-Regular;
  font-size: 16px;
  line-height: 24px;
}
