.users-heading {
  margin-top: 16px;
  margin-bottom: 32px;
}

.user-alert__heading {
  font-family: Montserrat-Thin-Bold;
}

.add-user-button-container {
  text-align: right;
  margin-top: 16px;
  margin-bottom: 32px;
}

.add-user-button {
  margin-right: 0 !important;
  background-color: #2c608a !important;
}

.users-subheading-container {
  margin-bottom: 16px;
  border-bottom: 1px solid #9d9d9d;
}

.users-subheading {
  margin-bottom: 8px;
}

.user-success-banner {
  margin-bottom: 36px;
}

.user-error-banner {
  margin-bottom: 36px;
}

.user-reinvite-info-row {
  border-bottom: 1px solid #e9e8e8;
}