.submission-status-header {
  width: 150px;
}

.tracker-icon-header {
  width: 110px;
}

.submission-tracker-disclaimer {
  font-size: 12px;
  line-height: 16px;
}

.submission-tracker-table {
  margin-top: 0px !important;
  line-height: 16px !important;
}

.submission-tracker-table-row {
  border-bottom: 1px solid #e9e8e8;
}

.submission-tracker-table-row td {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.submission-tracker-modal-heading {
  border-bottom: 1px solid #9d9d9d;
}

.usa-icon.st-modal {
  cursor: auto !important;
  fill: #a9aeb1;
  margin-left: 4px;
}

.st-modal-values {
  font-size: 12px;
  line-height: 16px;
}
