.spinner-container {
  text-align: center;
}

.spinner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

#uploadText {
  margin-top: 16px;
}

#timingText {
  margin-top: 24px;
}

#downloadErrorText {
  margin-top: 24px;
  margin-bottom: 24px;
}

#errorText {
  font-weight: bolder;
}

.downloadErrorReportButton {
  font-family:
    Montserrat-Bold,
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 2px #005ea2;
  color: #005ea2;
  font-size: 1.06rem;
  line-height: 0.9;
  appearance: none;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-right: 0.5rem;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.multi-upload-checkbox {
  margin-top: 40px;
}

.invalid-rows-count-alert .usa-alert__text {
  font-size: 16px !important;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.multi-dr-list-header {
  margin-top: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Montserrat-Thin;
  font-weight: bold;
  border-bottom: 1px solid #9d9d9d;
}

.multi-dr-list {
  /* margin-top: 12px; */
  padding-top: 20px;
  padding-bottom: 6px;
  border-top: 1px solid #e9e8e8;
}

.multi-error-correction-guidance {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 24px;
  height: 161px;
  width: 572px;
  border-radius: 8px;
  background-color: #e6eff2;
}

.multi-upload-icon {
  margin-top: 16px;
  text-align: center;
}

.multi-upload-icon h3 {
  font-size: 18px;
}

.scrollable-container {
  max-height: 260px;
  overflow-y: auto;
}

.dr-error-message {
  padding-top: 0px !important;
}

.evchart-link-bold {
  font-family: Montserrat-Thin;
  font-weight: bold;
  color: #005a7c;
  cursor: pointer;
  text-decoration: underline;
}

.multi-error-li {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* .multi-error-correction-guidance .guidance-ol {
  padding-left: 20px;
} */
