h2#removeModalHeading {
  font-family: Montserrat-Bold;
  border-bottom: 1px solid #9d9d9d;
  padding-bottom: 6px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.remove-modal-field {
  border-bottom: 1px solid #e9e9e9;
  padding: 8px 0;
}

.remove-modal-field .field {
  font-family: "Montserrat-Thin";
  font-weight: bold;
}

.remove-alert {
  margin-top: 24px;
  margin-bottom: 16px;
}
.remove-alert .usa-alert__heading,
.remove-alert .usa-alert__text {
  font-size: 16px !important;
}

.remove-alert .usa-alert--error .usa-alert__body::before {
  mask-size: 22px 22px !important;
  top: 10px;
}
