#addStationModalHeading {
  font-family: Montserrat-Bold;
  font-size: 24px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  margin-top: 0px;
  border-bottom: 2px solid #9d9d9d;
  line-height: normal;
}

.station-field,
.station-input-value {
  border-bottom: 1px solid #9d9d9d;
  padding-top: 4px;
  padding-bottom: 4px;
}

.station-input-value {
  font-weight: bold;
}

.confirm-recipient-alert {
  line-height: normal;
  font-size: 16px;
}
