h2#modal-2-heading.bottom-border {
  border-bottom: 1px solid #9d9d9d;
}

#cancelModal .usa-modal__footer {
  margin-top: 48px !important;
}

.upload-modal-selection {
  margin-top: 18px;
}

.file-selection-container {
  margin-top: 15px;
}
.column-definition-item {
  margin-top: 24px;
}
.column-definition-item .column-heading {
  font-family: Montserrat-Bold;
}
