.terms-and-conditions-modal .usa-modal-overlay {
  overflow-y: hidden;
}

.terms-and-conditions-content {
  max-height: 35vh;
  overflow-y: scroll;
}

h2#terms-and-conditions-heading.bottom-border {
  border-bottom: 1px solid #9d9d9d;
}

h2#terms-and-conditions-heading {
  font-family: Montserrat-Bold;
  padding-bottom: 6px;
  margin-bottom: 10px;
  margin-top: 0px;
}
