# O&M Request Helper Workflow
# Triggers lambda to change submission upload status

on:
    workflow_dispatch:
      inputs:
        ENVIRONMENT:
          description: "Environment where upload/submission to be changed is found"
          required: true
          type: environment
        DEPLOY_REGION:
          description: "Select AWS deploy region. (Default is us-east-1)"
          required: false
          type: choice
          options:
            - us-east-1
            - us-east-2
          default: us-east-1
        UPLOAD_ID:
          description: "Upload_ID of submission to be changed"
          required: true
          type: string
        SUBMISSION_STATUS:
          description: "What status to change Upload/submission to. (Default is Rejected)"
          required: true
          type: choice
          options:
            - Rejected
            - Submitted
            - Approved
            - Draft
            - Pending
          default: Rejected

name: "!INFRA Change Upload Submission Status"
jobs:
  approval-gate:
  # Step that checks if approval is needed,and if so must be approved by authorized deployer before execution continues
    runs-on: [infra]
    environment:
        name: ${{ inputs.ENVIRONMENT }}
    steps:
      - run: echo "approval check"

  trigger-lambda-upload-status:
  # Triggers the InfraChangeUploadStatus lambda using workflow inputs
    needs: approval-gate
    uses: ./.github/workflows/common_lambda_trigger.yaml
    secrets: inherit
    with:
      DEPLOY_REGION: ${{ inputs.DEPLOY_REGION }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
      FUNCTION_NAME: "InfraChangeUploadStatus"
      PAYLOAD_STRING: '"upload_id": "${{inputs.UPLOAD_ID}}", "submission_status": "${{inputs.SUBMISSION_STATUS}}"'
