# O&M Request Helper Workflow
# Workflow rename network provider

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        description: "What enviornment should the API key be created in? (Default is production)"
        required: true
        type: environment
        default: dev
      DEPLOY_REGION:
        required: false
        description: "What AWS Region are you using? (Default is us-east-1)"
        type: choice
        options:
          - us-east-1
          - us-east-2
        default: us-east-1
      NETWORK_PROVIDER_ID_OLD:
        required: true
        description: "What is the Network_Provider_Id that will be updated?"
        type: string
      NETWORK_PROVIDER_ID_NEW:
        required: true
        description: "What is the new Network_Provider_Id?"
        type: string
      NETWORK_PROVIDER_DESCRIPTION_NEW:
        required: true
        description: "What is the new Network_Provider_Description that will be set?"
        type: string

name: "!INFRA Rename Network Provider"
jobs:
  approval-gate:
    # Step that checks if approval is needed,and if so must be approved by authorized deployer before execution continues
    runs-on: [infra]
    environment:
      name: ${{ inputs.ENVIRONMENT }}
    steps:
      - run: echo "approval check"

  trigger-lambda-api-keys:
    # Triggers the InfraAPIKeys lambda using workflow inputs
    needs: approval-gate
    uses: ./.github/workflows/common_lambda_trigger.yaml
    secrets: inherit
    with:
      DEPLOY_REGION: ${{ inputs.DEPLOY_REGION }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
      FUNCTION_NAME: "InfraRenameNetworkProvider"
      PAYLOAD_STRING: '"network_provider_id_old": "${{ inputs.NETWORK_PROVIDER_ID_OLD }}", "network_provider_id_new": "${{ inputs.NETWORK_PROVIDER_ID_NEW }}", "network_provider_description_new": "${{ inputs.NETWORK_PROVIDER_DESCRIPTION_NEW }}"'
