# O&M Request Helper Workflow
# Workflow to manage API keys
# API Keys are created to allow users to submit data using system to system API.

on:
    workflow_dispatch:
      inputs:
        ENVIRONMENT:
          description: "What enviornment should the API key be created in? (Default is production)"
          required: true
          type: environment
          default: prod
        DEPLOY_REGION:
          required: false
          description: "What AWS Region are you using? (Default is us-east-1)"
          type: choice
          options:
          - us-east-1
          - us-east-2
          default: us-east-1
        OPERATION:
          required: true
          description: "What API Key operation should be completed? (Default is to create a new Key)"
          type: choice
          options:
          - Create New Key
          - Recreate Key
          - Assign Existing Key To Usageplan and Org
          default: Create new Key
        ORG_ID:
          description: "What is the ORG_ID that is requesting an API Key?"
          required: true
          type: string
        KEY_ID:
          required: false
          description: "If using existing key, what is the id? (Required for assigning key to plan/org)"
          default: ""

name: "!INFRA (s2s) Create/Assign API Key"
jobs:
  approval-gate:
  # Step that checks if approval is needed,and if so must be approved by authorized deployer before execution continues
    runs-on: [infra]
    environment:
        name: ${{ inputs.ENVIRONMENT }}
    steps:
      - run: echo "approval check"

  trigger-lambda-api-keys:
  # Triggers the InfraAPIKeys lambda using workflow inputs
    needs: approval-gate
    uses: ./.github/workflows/common_lambda_trigger.yaml
    secrets: inherit
    with:
      DEPLOY_REGION: ${{ inputs.DEPLOY_REGION }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
      FUNCTION_NAME: "InfraAPIKeys"
      PAYLOAD_STRING: '"operation": "${{ inputs.OPERATION }}", "org_id": "${{ inputs.ORG_ID }}", "key_id": "${{ inputs.KEY_ID }}"'
